

body{

	margin: 100px 100px 100px 100px;
	background-color:#f0ffff;
}
img{
   float: right;
   margin: -170px 1px 2px 1px;
   border-radius: 12px;

}
h2{
	color: royalblue;
}
h3{

 color: steelblue;
 text-decoration: underline;
}

.mod{
	background-color:#faebd7;
	width: 25%;
}